In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
%matplotlib inline

In [2]:
df = pd.read_csv('immigration_data.csv')

/opt/anaconda3/lib/python3.7/site-packages/IPython/core/interactiveshell.py:3063: DtypeWarning: Columns (11,12) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [3]:
df.columns

Index(['CO2', 'Country of birth/nationality', 'VAR', 'Variable', 'GEN',
       'Gender', 'COU', 'Country', 'YEA', 'Year', 'Value', 'Flag Codes',
       'Flags'],
      dtype='object')

In [4]:
df.drop(columns=['CO2', 'VAR', 'GEN',
       'Gender', 'COU', 'YEA', 'Flag Codes',
       'Flags'], inplace=True)

In [5]:
df.head()

,Country of birth/nationality,Variable,Country,Year,Value
0,Afghanistan,Inflows of foreign population by nationality,Australia,2000,887.0
1,Afghanistan,Inflows of foreign population by nationality,Australia,2001,456.0
2,Afghanistan,Inflows of foreign population by nationality,Australia,2002,660.0
3,Afghanistan,Inflows of foreign population by nationality,Australia,2003,1015.0
4,Afghanistan,Inflows of foreign population by nationality,Australia,2004,1340.0

In [6]:
def emmigration(df, origin):
    df_china = df[df['Country of birth/nationality']==origin]
    df_china_emmigration = df_china[df_china["Variable"]=="Inflows of foreign population by nationality"] 
    df_china_emmigration_total_by_country = df_china_emmigration[["Country","Value"]].groupby("Country").sum().sort_values("Value", ascending=False)
    return df_china_emmigration_total_by_country

In [7]:
def immigration(df, origin):
    df_china = df[df['Country']==origin]
    df_china_emmigration = df_china[df_china["Variable"]=="Inflows of foreign population by nationality"] 
    df_china_emmigration_total_by_country = df_china_emmigration[['Country of birth/nationality',"Value"]].groupby('Country of birth/nationality').sum().sort_values("Value", ascending=False)
    return df_china_emmigration_total_by_country

In [9]:
immigration(df, "China")

Empty DataFrame
Columns: [Value]
Index: []

In [10]:
emmigration(df, "China")

                     Value
Country
Korea            2343203.0
Japan            1852460.0
United States    1252845.0
Canada            574050.0
United Kingdom    570039.0
Australia         389446.0
Germany           328094.0
Italy             256298.0
Spain             211945.0
New Zealand       144968.0
France             83427.0
Netherlands        75043.0
Sweden             37751.0
Poland             31603.0
Portugal           30664.0
Austria            28311.0
Hungary            27097.0
Belgium            25560.0
Switzerland        21826.0
Mexico             21228.0
Denmark            18488.0
Chile              14772.0
Turkey             14258.0
Norway             13151.0
Finland            11133.0
Czech Republic      9616.0
Luxembourg          3540.0
Slovenia            1775.0
Iceland             1577.0
Slovak Republic     1050.0
Estonia              519.0
Latvia               190.0

In [12]:
immigration(df, "United States")

                                   Value
Country of birth/nationality
Total                         18804500.0
Mexico                         2929400.0
China                          1252845.0
India                          1175367.0
Philippines                    1007270.0
...                                  ...
Puerto Rico                          6.0
Tuvalu                               6.0
Timor-Leste                          4.0
Guam                                 2.0
San Marino                           1.0

[204 rows x 1 columns]

In [15]:
immigration(df, "United States").iloc[:20,:]

                                   Value
Country of birth/nationality
Total                         18804500.0
Mexico                         2929400.0
China                          1252845.0
India                          1175367.0
Philippines                    1007270.0
Dominican Republic              690452.0
Cuba                            671461.0
Viet Nam                        563034.0
El Salvador                     415873.0
Colombia                        402497.0
Korea                           382622.0
Haiti                           379018.0
Jamaica                         338354.0
Pakistan                        288387.0
Canada                          271686.0
United Kingdom                  251738.0
Guatemala                       250485.0
Peru                            236289.0
Iran                            226836.0
Ukraine                         225226.0

In [18]:
immigration(df, "Japan").iloc[:10,:]

                                  Value
Country of birth/nationality
Total                         6257747.0
China                         1852460.0
Philippines                    748067.0
Korea                          447695.0
Viet Nam                       438408.0
United States                  395164.0
Brazil                         326682.0
Indonesia                      202016.0
Thailand                       196023.0
United Kingdom                 111681.0

In [24]:
immigration(df, "Germany").iloc[:20,:]

                                   Value
Country of birth/nationality
Total                         16150099.0
Poland                         2461263.0
Romania                        1616717.0
Bulgaria                        696406.0
Syria                           695373.0
Turkey                          615038.0
Hungary                         592544.0
Italy                           578993.0
Russia                          417756.0
Croatia                         395708.0
China                           328094.0
United States                   324183.0
Greece                          323203.0
Iraq                            283034.0
India                           265094.0
Afghanistan                     252616.0
Spain                           252064.0
France                          249678.0
Unknown                         241250.0
Serbia                          220549.0

In [25]:
emmigration(df, "United States")

                    Value
Country
Japan            395164.0
Korea            390712.0
Germany          324183.0
United Kingdom   288022.0
Canada           141897.0
Spain             74384.0
Netherlands       62800.0
Mexico            61702.0
Australia         57448.0
France            55351.0
Switzerland       47627.0
Belgium           44944.0
New Zealand       42321.0
Israel            37902.0
Chile             29113.0
Austria           27568.0
Italy             25181.0
Czech Republic    20841.0
Sweden            20702.0
Ireland           17100.0
Hungary           15104.0
Norway            14938.0
Denmark           14324.0
Poland            13267.0
Portugal           6572.0
Luxembourg         6326.0
Finland            5308.0
Turkey             5173.0
Iceland            2796.0
Slovenia           1246.0
Slovak Republic    1018.0
Estonia             785.0
Latvia              393.0